INFINITYDB_BASE_URL=https://infinitydb.example.com
INFINITYDB_DATABASE=demo/writeable
INFINITYDB_USER=
INFINITYDB_PASSWORD=

GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json

ANTHROPIC_API_KEY=
